* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  height: 100vh;
  overflow: hidden; }

#map {
  width: 100vw;
  height: 100%; }

#mapLayers {
  position: fixed;
  top: 1vh;
  left: 1vw;
  z-index: 10000;
}

.mapLayer {
  border: 2px solid rgba(80,80,80,1);
  border-radius: 6px;
  display: inline-block;
  width: calc(20px + 2.5vw);
  height: calc(20px + 2.5vw);
  background-color: blue;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#menu {
  position: fixed;
  top: 1vh;
  right: 1vw;
  z-index: 10000; }

#sources {
  padding: 4px;
  background-color: rgba(255,255,255, 0.8);
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  font: 10px 'Lucida Console', 'Monaco', monospace;
  position: fixed;
  left: 1vw;
  bottom: 1vh;
  z-index: 10000; }

#sources a {
  text-decoration: none; }

#speciesInput {
  padding: 2px 2px 0 2px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  font: 10px 'Lucida Console', 'Monaco', monospace; }

/*this is the little cicle that has the number of lakes in the area*/
.marker-cluster {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  color: white;
  border-radius: 50%;
  width: 25px;
  max-width: 25px;
  height: 25px;
  max-height: 25px;
  box-shadow: 5px -1px 7px 1px rgba(0,0,0,0.4);
	background-image: linear-gradient(rgb(70,152,208), rgb(25,117,200));
  border: 1px solid rgb(56,130,182);
  font: bold 10px 'Lucida Console', 'Monaco', monospace;
  text-shadow: -1px 0 rgb(56,130,182), 0 1px rgb(56,130,182), 1px 0 rgb(56,130,182), 0 -1px rgb(56,130,182); }

/*popup content*/
.popupTitle {
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center; }

.popupTable {
  font: 10px 'Lucida Console', 'Monaco', monospace;
  width: 50%;
  display: inline-block;
  margin: 10px 0; }

.popupDetail {
  width: 50%;
  font-size: 10px;
  text-align: right; }

.popupInfo {
  width: 50%;
  text-align: left; }

.popupHR {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.popupFlex {
  display: flex;
  justify-content: space-around;
  font: 10px 'Lucida Console', 'Monaco', monospace;
}

.popupLink {
  text-decoration: none;
}

/*popup loader*/
.popupLoader {
  text-align: center;
  margin: 20px; }

.popupLoader div {
  display: inline-block;
  width: 3px;
  margin: 2px;
  height: 20px;
  background-image: linear-gradient(rgb(70,152,208), rgb(25,117,200)); }

.popupLoader div:nth-child(1){ animation: load 1s ease-in-out        infinite; }
.popupLoader div:nth-child(2){ animation: load 1s ease-in-out  150ms infinite; }
.popupLoader div:nth-child(3){ animation: load 1s ease-in-out  300ms infinite; }
.popupLoader div:nth-child(4){ animation: load 1s ease-in-out  450ms infinite; }
.popupLoader div:nth-child(5){ animation: load 1s ease-in-out  600ms infinite; }

@keyframes load{
  0%, 100%{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1); }

  50%{
    -webkit-transform: scaleY(1.8);
    -ms-transform: scaleY(1.8);
    -o-transform: scaleY(1.8);
    transform: scaleY(1.8); }
}
